.paper12 {
    width: 200px;
    border-radius: 20px;
}

.paper-lik {
    display: flex;
    list-style: none;
    gap: 30px;  
}

body {
    background-color: cornflowerblue;
}

.peperti {
    background-color: yellow;
    border-radius: 20px;
}

.paper-list {
    list-style: none;
}

.a1 {
    text-decoration: none;
    background-color: yellow;
    color: black;
    border-radius: 20px;
}
    
